
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

/* --- start of CSS reset --- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* --- end of CSS reset --- */```

html{
    height: 100%;}


body{
    font-family: 'IBM Plex Sans';
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url('./img/háttér1.avif');
    color: white;
}

.name{
    height: 300px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enter{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 200px;
    background-color: rgba(1,1,1, .3);
    color: white;
    margin-top: auto;
}