
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* --- start of CSS reset --- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* --- end of CSS reset --- */






html{
    height: 100%;}


.body1{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url('./img/hatter1.avif');
    color: white;
}

.name{
    font-family: 'IBM Plex Sans';
    font-size: 8vh;
    padding-top: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.enter{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 5vh;
}

.enter:hover{
    color: lightblue;
}


footer{

    height: 150px;
    background-color: rgba(46, 253, 253, 0.3);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-top: auto;
}

.lablec-elem{
  display: flex;
  margin: 0 20px;
}

ul{
  display: flex;
  justify-content: space-around;
}

li{
  list-style-type: none;
}

nav{
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  height: 150px;
  width: 100%;
  background-color: rgb(66, 9, 158, .8);
  
  
}

.body2{
  background-image: url('./img/luke-chesser-3rWagdKBF7U-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

nav li:hover{
  color: lightblue;
}

.name-2{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  
  font-size: 40px;
  font-family: 'IBM Plex Sans';
}
.name-2:hover{
  color: lightblue;
}

header{
  position: sticky;
  top: 0;
  margin-bottom: 80px;

  
}

.parent {
  font-family: 'Open Sans';
  max-width:60% ;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 3 / 2 / 4 / 3; }
  .div7 { grid-area: 4 / 1 / 5 / 2; }
  .div8 { grid-area: 4 / 2 / 5 / 3; }
  .div9 { grid-area: 5 / 1 / 6 / 2; }
  .div10 { grid-area: 5 / 2 / 6 / 3; }

  .parent img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .parent h2{
    margin-bottom: 20px;
  }

  .div9{
    margin-bottom: 60px;
  }
  .container{
    max-width: 80%; 
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
  }


  .container img{
    border-radius: 50%;
  }

  .box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box1 img{
    width: 300px;
    height: 300px;
  }
  .box2{
    min-height: 100%;
    margin-left: 40px;
    font-family: 'Open Sans';
    font-size: 20px;
  }

  .box2 h2{
    margin-bottom:30px ;
  }

